@model EvaluacionContinua2.Models.Pet
@{
    ViewData["Title"] = "Registrar Mascota";
}

<h1 style="text-align: center;">Registrar Mascota</h1>
<br>
<p style="text-align: center;">Por favor, complete el siguiente formulario para registrar una nueva mascota. Los campos marcados con * son obligatorios.</p>

<div class="container mt-5">
    <div class="card shadow p-4 rounded">
        <form asp-action="Crear" method="post">
            <div class="mb-3">
                <label asp-for="Nombre" class="form-label">Nombre(*)</label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Edad" class="form-label">Edad(*)</label>
                <input asp-for="Edad" type="number" min="0" class="form-control" required />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tipo" class="form-label">Tipo (perro, gato, etc.) (*)</label>
                <input asp-for="Tipo" class="form-control" required />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="EstadoAdopcion" class="form-label">Estado de Adopción (*)</label>
                <select asp-for="EstadoAdopcion" class="form-select">
                    <option value="disponible">Disponible</option>
                    <option value="adoptada">Adoptado(a)</option>
                </select>
                <span asp-validation-for="EstadoAdopcion" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Registrar Mascota</button>
            </div>
        </form>
    </div>
</div>
